.n-container {
  @apply max-w-[1280px] m-auto w-[90%];
}


.bg-primary {
  background-color: #263240;
}

.bg-secondary {
  background-color: #1F2630;
}

.bg-third {
  background-color: #171E26;
}

.text-subTitle {
  @apply font-bold text-center text-white text-3xl;
}

.fontfamily-poppins {
  font-family: 'Poppins';
}

.fontweight-semibold {
  font-weight: 600;
}

.header-bg {
  background-image: url('/public/img/header-bg.svg');
}

.text-secondary {
  color: #6c757d!important;
}

.text-dark {
  color: #343a40!important;
}

.icon-search {
  background-image: url('/public/img/search.png');
  width: 20px;
  height: 20px;
}

.width-100{
  width: 100%;
}

.border-0 {
  border-width: 0px;
}